.discount{
  background-color: #F4F5F6;

  position: relative;

  &::after{
    content: "";
    width: 595px;
    height: 627px;
    background-image: url("../../images/Rectangle.png");
    background-repeat: no-repeat;
    background-position:calc(50% ) calc(50% - 30px);
    background-size: contain;
    position: absolute;
    top: -90px;
    right: 190px;
  }
}

.discount__inner{
  padding-bottom: 129px;
}
.discount__list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.discount__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 455px;
  background-color: #fff;
  box-shadow: 0px 8px 32px rgba(15, 35, 54, 0.06);
  border-radius: 8px;
  margin: 0;
}

.discount__item:nth-child(1){
  position: relative;
  .discount__item-info{
    margin-top: 0;
  }

  &::before{
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../../images/loyalty.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 25px;
  }
}

.discount__item:nth-child(2){
  margin: 30px 0 30px 40px;
  position: relative;

  &::before{
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../../images/discount.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 25px;
    left: 25px;
  }
}

.discount__item:nth-child(3){
  position: absolute;
  bottom: -40px;

  &::before{
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../../images/free-drink.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    top: 25px;
    left: 25px;
  }
}

.discount__item-info{
  margin-top: 38px;
  margin-bottom: 43px;
  padding:0 40px 0 98px ;
}

.discount__title{
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: $dark-blue-color;
  margin: 0;

}

.discount__text{
  line-height: 24px;
  color: $text-color;
  margin: 0;
  margin-top: 25px;

}
